p.design {
    width: 30%;
    padding: 20px;
    margin: 20px auto;
    text-shadow:0 0 2px #FFD100,0 0 30px #FFD100,0px 0px 5px #FFD100, 0 0 150px #FFD100;color:#FFD100;
    background-color:#2E8ECE; 
}

.partie-1{
    margin-bottom: 5%;
}